<!DOCTYPE html>
<html>
      <head>
           <title>  navbar</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
             <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/check-weather"> check weather</a></li>
                </ul>
             </nav>
            

      </body>
</html>