<!DOCTYPE html>
<html>
      <head>
           <title> {{title}} </title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            {{> navbar}}
             <h1>welcome to our weather app</h1>
      </body>
</html>
